.envelope-bg {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/kylyoapp-8ec0b.firebasestorage.app/o/Weeding%2FFIN%2F21d98fa2-e9df-454e-b10f-b907e245a892%20(2).JPG?alt=media&token=63753a10-0999-4090-b7e7-fd9dbd64f459');
  background-size: cover;
  background-position: center;
}
